<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congresso Saude e Bem Estar</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <section class="container">
        <div class="cards">
            {% for palestra in palestras %}
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="{{url_for('static', filename=palestra.foto)}}" alt="Foto da sessão." class="foto-sessao">
                        <p class="title">{{ palestra.nome }}</p>
                        <div class="data">
                            <p class="dia">{{ palestra.dia }}</p>
                            <p class="mes">{{ palestra.mes }}</p>
                        </div>        
                    </div>
                    <div class="flip-card-back">
                        <div class="palestrantes">
                            {% for palestrante in palestrantes %}
                            {% for i in palestra.palestrantes%}
                                {% if i == palestrante.id %}
                                    <a href="{{ url_for('ministrante', id=palestrante.id) }}"><img src="{{url_for('static', filename=palestrante.foto)}}" alt="Foto do plaestrante" class="foto-palestrante"></a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </div>
                        <div class="card-botoes">
                            <a href="{{ url_for('apresentacao', id=palestra.id) }}" class="btn-sessao">Detalhes</a>
                            <a href="{{ url_for('ministrantes', id=palestra.id) }}" class="btn-palestrantes">Palestrantes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>